<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>美食外送</title>
    <!-- <link rel="stylesheet" href="restaurantList.css"></script> -->
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="restaurantList.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f98635b764.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-all">
        <div class="container-left">
            <nav id="sidebar">
                <ul class="list-unstyled">
                    <div style="text-align: center;">
                        <img src= "doge.png" style="width:50px;height:70px;">
                        <p>Food</p>
                    </div>
                    <li>
                        <a href="#"><i class="fas fa-history"></i>歷史訂單</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-user"></i>個人檔案</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-map-marker-alt"></i>地址</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-ticket-alt"></i>優惠券</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-hands-helping"></i>客服中心</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-cog"></i>設定</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-users"></i>加入我們</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-sign-in-alt"></i>登入</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container-right">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">首頁</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">購物車</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        地址
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="#">台南市東區長榮路二段24巷182號</a></li>
                        </ul>
                      </li>
                    </ul>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
            
        </div>
    </div>
    
    
</body>

</html>